---
---
@import "{{ site.theme }}";

.draft {
	background-image: url({% link /assets/images/draft-160133_640.png %});
	background-repeat: repeat;
	background-size: contain;
}

.draft:hover {
	background-image: none !important;
}

div.description {
	font-style: oblique;
	padding: 1em 0;
}

aside {
	margin-bottom: 1em;
	border-left: 15px solid #525252;
	padding: 0 0 0 1em;
	color: darkslategrey;
	background: #6f95c6;
	h1 {
		font-size: 120%;
	}
}

.tagline {
	font-size: 75%;
	font-style: italic;
}
