<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="1j-H9WhaWm5G7bpQh3pDqRgdlQLGl30wWdIU9Q6nZwY" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122965859-1"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/assets/css/style.css" async>
    <script src="{{ '/assets/js/jquery-3.3.1.min.js' | relative_url }}" async></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
<header id="header">
    <nav>
        <table>
           <tr>
               <td>
                   <a href="{{ site.url }}">Blog</a>
               </td>
               <td>
                   <a href="{{ site.base_url }}/wikispaces/pages/home">Wikispaces</a>
               </td>
           </tr>
        </table>
    </nav>
</header>

<div class="wrapper{%if page.draft %} draft{% endif %}">
    <section>
        <div id="title">
            <p>
                <img src="/assets/images/gargoyle.jpeg" alt="gargoyle image" style="padding-right: .5em;width:72;height:72px;float:left"/>
                {{ site.description | default: site.github.project_tagline }}
            </p>
        </div>
    </section>

   {{ content }}

</div>
<div class="license">"
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122965859-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122965859-1');
</script>

</body>
</html>
