<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/assets/css/style.css" async>
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% if page.use_math %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    {% endif %}
</head>

<body>
<header id="header">
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Blog</a></li>
            <li><a href="{{ '/wikispaces/pages/home' | relative_url }}">Wikispaces</a></li>
        </ul>
    </nav>
</header>

<div class="wrapper{%if page.draft %} draft{% endif %}">
    <section>
        <div id="title">
            <p>
                <img src="/assets/images/gargoyle.jpeg" alt="gargoyle image" style="padding-right: .5em;width:2.5em;height:2.5em;float:left"/>
                {{ site.description | default: site.github.project_tagline }}
            </p>
        </div>
    </section>
   {{ content }}
</div>

<div class="license">"
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}

</body>
</html>
