---
layout: default
---
{% include JB/setup %}
{% include themes/twitter/post.html %}
<div class="comments">
<hr>
<h1>What do you think?</h1>

<script src="https://utteranc.es/client.js"
  repo="schuchert/schuchert.github.io"
  issue-term="title"
  crossorigin="anonymous"
  async>
</script>
</div>

<script>
var input = document.querySelectorAll('.lbl-toggle');
Array.from(input).forEach(
  l=>l.addEventListener("keydown", e=>{ 
    if(e.which === 13 || e.which === 32){
      e.preventDefault(); 
      l.click();
    } 
  })
);
</script>
