---
layout: default
---
<div class="header">
    <div class="title">
        <h1>{{ page.title | strip }}</h1>
    </div>
    {% if page.tagline %}
    <div class="tagline">
        {{ page.tagline | strip }}
    </div>
    {% endif %}
    {% if page.description %}
    <div class="description">
        {{ page.description | strip }}
    </div>
    {% endif %}
</div>

<div class="content">
    {{ content }}
</div>

<div class="row">
    <div class="span8">
        <div class="pagination">
            {% if page.previous %}
            <a class="prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"
               tabindex="0">&larr; Previous</a>
            {% else %}
            <a class="prev disabled">&larr; Previous</a>
            {% endif %}
            <a class="blog" href="{{ BASE_PATH }}/blog" tabindex="0">Blog</a>
            {% if page.next %}
            <a class="next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}" tabindex="0">Next
                &rarr;</a>
            {% else %}
            <a class="next disabled">Next &rarr;</a>
            {% endif %}
        </div>
    </div>

    <div class="span4">
        <h4>Published
            <span class="date">{{ page.date | date_to_long_string }}</span>
        </h4>
    </div>
</div>

<script>
    var input = document.querySelectorAll('.lbl-toggle');
    Array.from(input).forEach(
        l => l.addEventListener("keydown", e => {
            if (e.which === 13 || e.which === 32) {
                e.preventDefault();
                l.click();
            }
        })
    );

</script>
